<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRM_Web_Assignment</title>
    <link rel='stylesheet' type='text/css' href="/style.css"
  </head>
  <body>
    <header><nav></nav></header>
    <%= yield %>
    <footer></footer>
  </body>
</html>
