<h1>Create new Contact</h1>


  <form action='/contacts' method='post' >

      <fieldset class="account-info">
        <label>First Name:
          <input type='text' name='first_name'>
        </label>
        <label>Last_Name:
          <input type='text' name='last_name'>
        </label>
        <label>Email:
          <input type='text' name='email'>
        </label>
        <label>Note;
          <input type='text' name='note' id = "btn">
        </label>
      </fieldset>
      <fieldset class="account-action">
        <label>New Contact:
          <input class = "btn" type='submit' value='submit' >
        </label>
      </fieldset>

    </form>
